/*dialog::backdrop {
    background: repeating-linear-gradient(
            45deg,
            rgba(255, 0, 0, 0.2),
            rgba(255, 0, 0, 0.2) 1px,
            rgba(255, 0, 0, 0.3) 1px,
            rgba(255, 0, 0, 0.3) 20px
    );
    backdrop-filter: blur(3px);
}*/

@font-face {
    font-family: Ubuntu-Bold;
    src: url('../../login-template/fonts/ubuntu/Ubuntu-Bold.ttf');
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 38% 0%
    }
    50% {
        background-position: 63% 100%
    }
    100% {
        background-position: 38% 0%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 38% 0%
    }
    50% {
        background-position: 63% 100%
    }
    100% {
        background-position: 38% 0%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 38% 0%
    }
    50% {
        background-position: 63% 100%
    }
    100% {
        background-position: 38% 0%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 38% 0%
    }
    50% {
        background-position: 63% 100%
    }
    100% {
        background-position: 38% 0%
    }
}

@keyframes fadeInY {
    0% {
        transform: translateY(+10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInX {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn-X {
    0% {
        transform: translateX(+10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

html, body, h1, h2, h3, h4, h5 {
    font-family: "Open Sans", sans-serif
}

body {
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgb(35, 51, 71) 20%, rgba(208, 67, 160, 1) 25%, rgba(75, 84, 108, 1) 35%, rgba(38, 46, 85, 1) 100%);
    background-size: 500% 500%;
    background-position-x: center;
    -webkit-animation: AnimationName 60s ease infinite;
    -moz-animation: AnimationName 60s ease infinite;
    -o-animation: AnimationName 60s ease infinite;
    animation: AnimationName 60s ease infinite;
}

.fadeIn {
    animation: 1s ease-out 0s 1 fadeInY;
}

.fadeInLeft {
    animation: 1s ease-out 0s 1 fadeInX;
}

.fadeInRight {
    animation: 1s ease-out 0s 1 fadeIn-X;
}

.whiteText {
    color: #FFFFFF;
}

.BGimage {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url(/../../images/bgIdea.png);
    background-repeat: repeat;
    background-size: 15%;
    z-index: -20;
}

.fullWidth {
    width: 100%;
}

.allUsersList {
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: transparent;
}

.people-nearby {
    background: rgba(255, 255, 255, 0.1);
}

.people-nearby .map {
    /*height: 100px;*/

}

.nearby-user {
    background-color: transparent;
    border-bottom: 2px solid #D5D5D5;
}

.people-nearby .nearby-user {
    padding: 10px 0;
}

.textFieldNearbyUser {
    position: relative;
    left: -7%;
    top: +20px;
    font-weight: bold;
    color: #FFFFFF;
}

.textFieldNearbyUser a:link {
    color: #d4d4d4;
    text-decoration: none;
}

.textFieldNearbyUser a:hover {
    font-weight: bold;
}

.post-button {
    border: none;
    display: inline-block;
    padding-right: 10px;
    margin: 5px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}


img.profile-photo-lg {
    margin-left: 10px;
    height: 85px;
    width: 85px;
    border-radius: 50%;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .15);
}

.imagesCont {
    position: relative;
    top: -20px;
    left: 0px;
    min-width: 200px;
    color: #FFFFFF;
    text-align: center;
    font-family: Ubuntu-Bold;
    font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
    /*background-image: linear-gradient(52deg, #fdfdfd, #f4f4f4);
    border-radius: 10px;
    box-shadow: 3px 3px 5px grey;*/
}

.imagesCont ul {
    list-style-type: none;
}

.imagesCont li {
    position: relative;
    top: +10px;
    left: -20px;
}

.imagesCont a img {
    background-color: #f6f6f6;
    float: left;
    width: 85px;
    border-radius: 50%;
    margin: 7px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: -webkit-transform .15s ease;
    -moz-transition: -moz-transform .15s ease;
    -o-transition: -o-transform .15s ease;
    -ms-transition: -ms-transform .15s ease;
    transition: transform .15s ease;
    position: relative;
}

.imagesCont a:hover img {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
    z-index: 5;
}