<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{https://www.w3schools.com/w3css/4/w3.css}">
    <link rel="stylesheet" th:href="@{https://www.w3schools.com/lib/w3-theme-blue-grey.css}">
    <link rel='stylesheet' th:href='@{https://fonts.googleapis.com/css?family=Open+Sans}'>
    <link rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/profile-template/css/profile.css}">
    <link rel="stylesheet" th:href="@{/home-template/style.css}">
    <link rel="stylesheet" th:href="@{/styles/test.css}">

</head>
<body>
<div class="BGimage"></div>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a th:href="@{/}"><img id="illLogo" src="images/logo_invert_small.png" height="60" width="40"></a>
            <img th:src="@{'/images/' + ${user.photoURL}}" src="image.jpg" class="w3-circle" height="60" width="60"
                 alt="Avatar">
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-main">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="profile-button" th:href="@{/swagger-ui.html}">API</a></li>
                <li><a class="profile-button" th:href="@{/profile/new-feeds}">News Feed</a></li>
                <li><a class="profile-button" th:href="@{/profile}">Profile</a></li>
                <li><a class="profile-button" th:href="@{/profile/settings}">Settings</a></li>
                <li><a class="profile-button" th:href="@{/logout}">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>
<br/>
<br/>
<br/>
<br/>

<!--<div class="w3-card w3-round w3-white">
    <div class="w3-container">
        <h4 class="w3-center">Admin Profile</h4>
        <p class="w3-center"><img th:src="@{'/images/' + ${user.photoURL}}"  src="image.jpg" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
        <hr>
        <h1 class="fa fa-fw w3-margin-right w3-text-theme"><span th:text="${user.username}"></span></h1>
    </div>
</div>-->

<div>
    <div id="container" class="w3-col m4 fadeInLeft"><h1 style="color: #FFFFFF;
                                                                    font-family: Ubuntu-Bold;
                                                                    font-weight: bolder;
                                                                    text-align: center;
                                                                    text-transform: uppercase;">All Posts</h1></div>
    <div id="comments-container" class="w3-col m4 fadeIn"><h1 style="color: #FFFFFF;
                                                                     font-family: Ubuntu-Bold;
                                                                     font-weight: bolder;
                                                                     text-align: center;
                                                                     text-transform: uppercase;">All Comments</h1></div>
    <div id="users-container" class="w3-col m4 fadeInRight"><h1 style="color: #FFFFFF;
                                                                font-family: Ubuntu-Bold;
                                                                font-weight: bolder;
                                                                text-align: center;
                                                                text-transform: uppercase;">All Users</h1></div>
</div>

<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script th:src="@{/scripts/admin-script.js}"></script>
<script th:src="@{scripts/requests-script.js}"></script>


</body>
</html>