<!DOCTYPE html >
<!--[if IE 8 ]>
<html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>404</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/vendor.css">

    <script src="js/modernizr.js"></script>

    <link rel="icon" type="image/png" href="favicon.png">
    <script th:src="@{/not-found/js/jquery-2.1.3.min.js}"></script>
    <script th:src="@{/not-found/js/main.js}"></script>
    <script th:src="@{/not-found/js/modernizr.js}"></script>
    <script th:src="@{/not-found/js/plugins.js}"></script>
    <link rel="stylesheet" th:href="@{/not-found/css/font-awesome/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/not-found/css/base.css}">
    <link rel="stylesheet" th:href="@{/not-found/css/demo.css}">
    <link rel="stylesheet" th:href="@{/not-found/css/fonts.css}">
    <link rel="stylesheet" th:href="@{/not-found/css/main.css}">
    <link rel="stylesheet" th:href="@{/not-found/css/vendor.css}">

</head>

<body>

<header class="main-header">
    <div class="row">
        <div class="logo">
            <a href="index.html">Quatro</a>
        </div>
    </div>
</header>


<main id="main-404-content" class="main-content-static">

    <div class="content-wrap">

        <div class="shadow-overlay"></div>

        <div class="main-content">
            <div class="row">
                <div class="col-twelve">

                    <h1 class="kern-this">404 Error!</h1>
                    <p>
                        Oh noes, there's nothing here! Try getting enough sleep and look twice before typing.
                    </p>


                </div> <!-- /twelve -->
            </div> <!-- /row -->
        </div> <!-- /main-content -->

        <footer>
            <div class="row">


                <div class="col-five tab-full bottom-links">
                    <ul class="links">
                        <li><a th:href="@{/}">Homepage</a></li>
                    </ul>

                    <div class="credits">
                        <p>Copied by Tarkan</p>
                    </div>
                </div>

            </div> <!-- /row -->
        </footer>

    </div> <!-- /content-wrap -->

</main> <!-- /main-404-content -->

<div id="preloader">
    <div id="loader"></div>
</div>

<!-- Java Script
================================================== -->
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script th:src="@{js/jquery-2.1.3.min.js}"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>

</body>

</html>