<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{login-template/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{login-template/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{login-template/vendor/animate/animate.css}">
    <link rel="stylesheet" type="text/css" th:href="@{login-template/vendor/css-hamburgers/hamburgers.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{login-template/vendor/animsition/css/animsition.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{login-template/vendor/select2/select2.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{login-template/vendor/daterangepicker/daterangepicker.css}">
    <link rel="stylesheet" type="text/css" th:href="@{login-template/css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{login-template/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{home-template/style.css}">
</head>
<body>

<nav class="navbar navbar-default fixed-top" role="navigation" style="text-align: center">
    <div class="container-fluid" style="display: inline-block"><a th:href="@{/}"><img
            src="home-template/images/logo_invert_footer.png" height="60" width="150.94339622642"></a></div>
</nav>


<div id="subheader">
    <div class="limiter">
        <div class="container-login100" style="background-image: url('login-template/images/bg-01.png');">
            <div class="wrap-login100 p-t-20 p-b-50">
                <span class="login100-form-title p-b-41">Join the Family!</span>
                <p id="error-paragraph"><i th:if="${error != null}" style="color: white" th:text="${error}"
                                           class="error"/></p>

                <form id="register-form" class="login100-form validate-form p-t-5" th:action="@{/register}"
                      th:object="${user}" method="post">
                    <div class="wrap-input100 validate-input" data-validate="Enter E-Mail">
                        <input class="input100" id="email" name="email" placeholder="E-Mail" type="email">
                        <span class="focus-input100" data-placeholder="&#128386;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter Username">
                        <input class="input100" id="username" name="username" placeholder="User Name" type="text">
                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter Password">
                        <input class="input100" id="password" name="password" placeholder="Password" type="password">
                        <span class="focus-input100noBG" data-placeholder="&#xe80f;"></span>
                    </div>
                </form>

                <div class="parent input100">
                    <button class="login100-form-btn third-child" id="register">Create Profile</button>
                    <a th:href="@{/login}">
                        <button class="login100-form-btn fourth-child" id="life">Back to Life</button>
                    </a>
                </div>


            </div>
        </div>
    </div>
</div>
<!--    <label for="password-confirmation">Confirm Password:</label>-->
<!--    <br/>-->
<!--    <input type="password" id="password-confirmation" th:field="*{passwordConfirmation}"/>-->
<!--    <br/><br/>-->


<div id="dropDownSelect1"></div>

<script th:src="@{login-template/vendor/jquery/jquery-3.2.1.min.js}" type="text/javascript"></script>
<script th:src="@{login-template/vendor/animsition/js/animsition.min.js}"></script>
<script th:src="@{login-template/vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{login-template/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{login-template/vendor/select2/select2.min.js}"></script>
<script th:src="@{login-template/vendor/daterangepicker/moment.min.js}"></script>
<script th:src="@{login-template/vendor/daterangepicker/daterangepicker.js}"></script>
<script th:src="@{login-template/vendor/countdowntime/countdowntime.js}"></script>
<script th:src="@{login-template/js/main.js}"></script>
<script th:src="@{scripts/script.js}"></script>

<script>
    // $('#error-paragraph').hide();
</script>

</body>
</html>