.container-profile-button {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-buttona {
    font-family: Ubuntu-Bold;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 42px;
    border-radius: 21px;

    background: #d41872;
    background: -webkit-linear-gradient(left, #a445b2, #d41872, #fa4299);
    background: -o-linear-gradient(left, #a445b2, #d41872, #fa4299);
    background: -moz-linear-gradient(left, #a445b2, #d41872, #fa4299);
    background: linear-gradient(left, #a445b2, #d41872, #fa4299);
    position: relative;
    z-index: 1;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.profile-button {
    padding: 10px;
    text-shadow: none;
    background: none;
    color: #D5D5D5;
    margin-right: 10px;
    width: auto;
    font-size: medium;
    border-bottom: 2px solid rgba(220, 235, 250, 0.7);
    border-bottom-right-radius: 15px;
    border-top: 2px solid rgba(220, 235, 250, 0.7);
    border-top-left-radius: 15px;

}


.profile-button::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 21px;
    background-color: #555555;
    top: 0;
    left: 0;
    opacity: 0;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.profile-button:hover {
    color: #FFF;
    text-shadow: 2px 2px #002752;
    background-image: linear-gradient(to right, #062c33, #9fcdff);
}

.profile-button:hover:before {
    opacity: 1;
}

.centered {
    text-align: center;
}